.particles {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  z-index: -1;
}

.home {
  padding-top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: inline;
}

.home .themeSwitch {
  position: absolute;
  top: 0;
  right: 0;
}

.home .greeting {
  font-size: 1.5em;
  color: var(--color-secondary-faded);
  margin-bottom: 0.5em;
}

.home h1 {
  font-size: 4em;
  margin-bottom: 0;
  color: var(--color-secondary);
}

.home h3 {
  font-size: 2em;
  color: var(--color-secondary-faded);
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.home .buttons {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.home .socials {
  margin-top: 4em;
}

.scroll {
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary-faded);
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.scroll:hover {
  color: var(--color-secondary);
}

.scroll p {
  margin-bottom: 0;
}

.scroll .arrow {
  animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(0.4rem);
  }
}

@media (max-width: 800px) {
  .home .buttons {
    grid-gap: 1em;
  }

  .home .themeSwitch {
    display: none;
  }

  .home h1 {
    font-size: 2.5em;
  }

  .home h3 {
    font-size: 1.5em;
  }

}
