.button {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    --width: 160px;
    --height: 60px;
    width: var(--width);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: var(--width);
    height: var(--height);
    position: absolute;
}

.btn {
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--color-border);
    outline: none;
    transition: 0.7s ease-in-out;
}

.border {
    position: absolute;
    width: var(--width);
    height: var(--height);
    left: 0;
    top: 0;
    fill: none;
    stroke: var(--color-white);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 0.6s ease-in-out;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn:hover {
    box-shadow: 5px 5px var(--color-border);
}

.btn:active {
    box-shadow: 3px 3px rgba(100, 100, 100, 0.8);
    transition: 0.1s;
    transform: translateY(0.25em);
}

.btn span {
    color: var(--color-white);
    font-weight: 550;
}

@media screen and (max-width: 562px) {
    .button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}