.themeSwitch {
    margin: 1em;
    width: 75px;
    height: 40px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
}

.themeSwitch input {
    display: none;
}

.themeSwitch input:checked~.slider {
    transform: translateX(35px);
}

.themeSwitch .slider {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    transition: 0.4s;
    z-index: 1;
}

.themeOptions {
    position: absolute;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-secondary);
}