.contactWrapper {
    height: 90vh;
    min-height: 600px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.field {
    margin-left: 1rem;
    background: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-faded);
    margin-bottom: 1vh;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    transition: 0.4s ease-in-out;
    margin-bottom: 3vh;
}

.field:focus {
    border: 2px solid var(--color-white);
    outline: 0;
}

.name {
    min-width: 240px;
    width: 20vw;
}

.email {
    min-width: 300px;
    width: 25vw;
}

.message {
    min-width: 420px;
    width: 35vw;
}

label h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-bottom: 1vh;
}

.error {
    border-color: rgb(239, 68, 68);
    animation: shake 1s;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media screen and (max-width: 562px) {
    .field {
        margin-left: 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    label h2 {
        margin-left: 0;
    }

    .name {
        min-width: 180px;
        width: 60vw;
    }

    .email {
        min-width: 240px;
        width: 70vw;
    }

    .message {
        min-width: 240px;
        width: 80vw;
    }

    form .button {
        margin-left: 0;
    }
}

/* mobile */
@media screen and (max-height: 900px) {
    .contactWrapper {
        height: 85vh;
    }
}

/* vertical ultrawide monitors */
@media screen and (min-height: 1400px) {
    .contactWrapper {
        height: 95vh;
    }
}