.experienceContainer {
    padding-bottom: 3vh;
}

.experienceEntry {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;

}

.experienceEntry .verticalBar {
    grid-area: 1/2;
}

.experienceEntry:nth-child(odd) .content {
    grid-area: 1/3;
    text-align: start;
}

.experienceEntry:nth-child(even) .content {
    grid-area: 1/1;
    text-align: end;
}

.experienceEntry:nth-child(even) .companyLogo {
    margin-right: 0;
    margin-left: auto;
}

.experienceEntry:last-child .verticalBar {
    background-color: var(--color-bg);
}

.content {
    display: flex;
    flex-direction: column;
    display: block;
}

.companyLogo {
    max-width: 10rem;
}

.content h3 {
    margin: 5px;
}

.content .position {
    margin-top: 0.75rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.content a {
    margin: 0px 5px 0px 5px;
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: none;
}

.faIcon {
    position: relative;
    font-size: 0.8rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.content, .company, .period {
    font-size: 1rem;
}

.period {
    color: var(--color-light);
}

.verticalBar {
    width: 0.25rem;
    min-width: 4px;
    background-color: var(--color-primary-faded);
    list-style: none;
}

.verticalBar li {
    left: -5px;
    background-color: var(--color-primary);
    border-radius: 100px;
    height: 15px;
    width: 15px;
    z-index: 2;
    position: relative;
}