.skillsContainer {
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skillGroup {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-faded);
    transition: 0.4s ease-in-out;
    margin: 0.5em;
    width: auto;
    border-radius: 10px;
}

.skillGroup:hover .groupTitle {
    color: var(--color-white);
}

.skillGroup:hover .skillTitle {
    color: var(--color-white);
}

.skillGroup:hover {
    border: 2px solid var(--color-white);
}

.groupTitle {
    font-size: 1em;
    margin: 0.5rem;
    font-weight: 600;
    flex-wrap: wrap;
    transition: 0.4s ease-in-out;
    color: var(--color-border);
}


.skillsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.skill {
    display: flex;
    margin: 0.5em;
}

.skillTitle {
    font-size: 1em;
    margin: 0 0.5em 0.2em 0.3em;
    font-weight: 500;
    transition: 0.4s ease-in-out;
    color: var(--color-faded);
}

.skillIcon {
    transition: 0.4s ease-in-out;
}

.skillIcon:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 800px) {
    .skillsContainer {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .skillGroup {
        border-color: var(--color-white);
    }

    .groupTitle, .skillTitle {
        color: var(--color-white);
    }

    .skillTitle {
        font-size: 0.9em;
        margin-left: 0.5em;
    }

}