.skillsContainer {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skillIcon {
    margin: 2rem;
    transition: 0.4s ease-in-out;
}

.skillIcon:hover {
  transform: scale(1.2);
}

@media (max-width: 1000px) {
    .skillsContainer {
        width: 500px;
        margin-bottom: 2vh;
    }

    .skillIcon {
        margin: 1rem 0.75rem;
    }
}

/* two columns for mobile */
@media (max-width: 620px) {
    .skillsContainer {
        width: 260px;
    }

    .skillIcon {
        margin: 1rem 1.5rem;
    }
}